$test-color:red;
$small-padding:10px;
$font-weight-bold: bold;
$text-align-center: center;
$margin-left-medium: 40%;
$padding-small-percentage:5%;
$color-black: black; 
$float-right: right;
$blue-button-color:#007bff;
$text-white:white;
$bg-color-blue:blue;
$min-height-header: 35px;
$cursor: pointer;
$margin-left:2%;
$color-red:red; 
$position-relative: relative; 
$bottom: 7px;
$border-width:0 0 3px;
$margin-left:20px;
$full-width:100%;
$border:thin solid black;
$min-height:125px;
$padding-high:30px;
$line-through: line-through;
$color-green: green;
$width-medium:40px;
$none-border:none;
$height:150px;
$width:92%;
$padding-small:15px;
$padding:20px;
$medium-height:75px;
$min-height-large:160px;
$mobile-width:90%;
$margin-left-percentage:4%;
$padding-percent:3%;
$bottom:0px;
$half-height:100px;
$padding-left:6%;
$width-list:25%;
$color-gold:darkgoldenrod;
