<ng-container *ngIf='shoppingItems'>
	<div class="container body-content">
		<div class="container">
			<div class="row justify-content-start">
				<div *ngFor='let item of shoppingItems' [ngClass]="{'col-3': !isMobile, 'col-6': isMobile}"
					style="padding-top:10px;">
					<!-- class='col-3' [ngStyle]="{'width':isMobile?'50%':'100%'}" style="padding-top:10px;"> -->
					<div class='min-height'>
						<img width="100%" height="90%" src="{{item.img_url}}" />
					</div>
					<div>
						{{item.name}}
					</div>
					<div class="row justify-content-start padding-left">
						<div class='width-list'>
							<span> &#x20b9;{{item.price}}</span>
						</div>
						<div class='width-list'>
							<span>
								<p class='line-through'>{{item.originalPrice}}</p>
							</span>
						</div>
						<div>
							<span class='color-green'>{{item.discount}}% off</span>
						</div>
					</div>
					<div class="row justify-content-start">
						<div [ngClass]="{'col-3': !isMobile, 'col-6': isMobile}" class='padding-top'>
							<!-- [ngStyle]="{'width':isMobile?'50%':'100%'}" -->
							<button class="btn btn-primary add-button" (click)='addItem(item)'>ADD TO CART</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-container>
