
<div class='simplepadding' *ngIf='!isMobile'>
    <p class='font-bold'> Filters</p>
    <ng5-slider [(value)]="cartFacade.value" [(highValue)]="cartFacade.highValue" [options]="options"></ng5-slider>
    <p class='text-center'>Price</p>
    <button class="btn btn-primary" class='margin-padding'
        (click)='applyFilter(cartFacade.value, cartFacade.highValue)'>Apply</button>
</div>
<div *ngIf='isMobile' class='padding-small' (click)='showPopup()' class='color-float'>
    <i class="fa fa-filter " aria-hidden="true">Filter</i>
</div>

<!--Modal Popup-->
<div class="modal" id="myFilterModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Filter Options</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <ng5-slider [(value)]="cartFacade.value" [(highValue)]="cartFacade.highValue" [options]="options"></ng5-slider>
                <p class='text-center'>Price</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)='close()'>Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)='applyFilter(cartFacade.value, cartFacade.highValue)'>Apply</button>
            </div>
        </div>
    </div>
</div>
