<div>
    <header-comp [cartItems]='cartFacade.cartItems' [isMobile]='isMobile' [totalItems]='cartFacade.totalItems'
        (filterChange)='searchFilter($event)' [isCartPage]='isCartPage'></header-comp>
    <div class='row' *ngIf='isMobile'>
        <div style='width:35%'>
            <sort class='padding-top' [shoppingItems]='shoppingItems' [isMobile]='isMobile'
                (sortingChange)='sortingChange($event)'></sort>
        </div>
        <div style='width:35%'>
            <filter [shoppingItems]='shoppingItems' (filterChange)='filterChange($event)' [isMobile]='isMobile'>
            </filter>
        </div>
    </div>
    <sort class='padding-top' [shoppingItems]='shoppingItems' [isMobile]='isMobile'
        (sortingChange)='sortingChange($event)' *ngIf='!isMobile'></sort>
    <div class="row">
        <div class='col-sm-2 padding-top' *ngIf='!isMobile'>
            <filter [shoppingItems]='shoppingItems' (filterChange)='filterChange($event)' [isMobile]='isMobile'>
            </filter>
        </div>
        <div class='col-sm-10'>
            <shopping-list [cartItems]='cartFacade.cartItems' [isMobile]='isMobile' [shoppingItems]='shoppingItems'
                (cartChange)='cartChange($event)'>
            </shopping-list>
        </div>
    </div>
    <footer class='footer-item width-full'>
        <p style="color: white; background-color: blue; text-align: center;">@copyright</p>
    </footer>
    <!-- <cart *ngIf='showCartPage' [cartItems]='cartItems' (cartChange)='cartChange($event)'></cart> -->
</div>
