<div class='row' style='background-color: blue; min-height: 35px; padding-top: 10px;'>
    <search-comp [isMobile]='isMobile' (filterChange)='searchFilter($event)'
        [ngStyle]="{'margin-left':isMobile?'43%':'80%'}"></search-comp>
    <span (click)='navigate()' style="cursor: pointer;margin-left: 2%; ">
        <i class="fa fa-shopping-cart" aria-hidden="true" style='color: white;float: right;'></i>
    </span>
    <span style='color:red; position: relative; bottom: 7px;'>{{totalItems}}</span>
</div>