/* You can add global styles to this file, and also import other style files */
@import './styles/variables';

.slider {
    -webkit-appearance: $none-border;
    width: $full-width;
    height: $padding-small;
    border-radius: $border-radius;  
    background: $background;
    outline: $none-border;
    opacity: $opacity;
    -webkit-transition: $transition;
    transition: $transition-opacity;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: $none-border;
    appearance: $none-border;
    width: $width-height;
    height: $width-height;
    border-radius: $radius; 
    background: $bg-green;
    cursor: $cursor;
  }
  
  .slider::-moz-range-thumb {
    width: $width-height;
    height: $width-height;
    border-radius: $radius;
    background: $bg-green;
    cursor: $cursor;
  }
  .simplepadding {
    padding: $small-padding;
  }
  .font-bold{
    font-weight: $font-weight-bold;
  }
  .text-center{
    text-align: $text-align-center;
  }
  .margin-padding{
    margin-left: $margin-left-medium; 
    background-color: $blue-button-color;
    color: $text-white;
  }
  .padding-small{
    padding: $padding-small-percentage;
  }
  .color-float{
    color: $color-black;
    float: $float-right;
  }
  .color-white-float{
    color: $text-white; 
    float: $float-right;
  }
  .header{
    background-color: $bg-color-blue; 
    min-height: $min-height-header; 
    padding-top: $small-padding;
  }
  .padding-bottom{
    padding-bottom: $small-padding;
  }
  .padding-top{
    padding-top: $small-padding;
  }
  .padding-top-high{
    padding-top: $padding-high;
  }
  .padding-medium{
    padding-top: $padding-small;
  }
  .padding{
    padding: $padding;
  }
  .medium-height{
    min-height: $medium-height;
  }
  .cursor-margin{
    cursor: $cursor;
    margin-left: $margin-left;
    color: $text-white;
    float: $float-right;
  }
  .cart-value{
    color:$text-white; 
    right: $right-value;
    background-color: $color-red;
    border-radius: $radius;
    height: $padding-small;
    width: $padding-small;
    position: $position-relative;
    font-size: $small-padding;
    text-align: $text-align-center;
  }
  .cursor-pointer{
    cursor: $cursor;
  }
  .search-box{
    border-color: $text-white; 
    color: $text-white; 
    background-color: $bg-color-blue; 
    border-width: $border-width;
  }
  .padding-margin{
    padding: $small-padding; 
    margin-left: $margin-left;
  }
  .border-min-height{
    border: $border; 
    min-height: $min-height; 
  }
  .width-full{
    width:$full-width;
  }
  .line-through{
    text-decoration: $line-through;;
  }
  .color-green{
    color: $color-green;
  }
  .width-medium{
    width: $width-medium;
  }
  .border-none{
    border:$none-border;
  }
 .price-box{
  border: $border; 
  min-height: $height; 
  width:$width; 
  padding:$padding-small;
}
.price-box-mobile{
  border: $border; 
  min-height: $min-height-large; 
  width:$mobile-width; 
  padding:$padding-small;
}
.width{
  border: $border; 
  width:$width; 
}
.border-height{
  border: $border; 
  min-height: $min-height-large;
}
.padding-margin-price{
  padding: $padding-small; 
  margin-left: $padding-small;
}
.total-payable{
  border: $border; 
  width:$mobile-width;
  padding: $padding-small; 
  margin-left: $padding-small;
}
.footer-item{
  padding-top: $padding-percent; 
  bottom: $bottom-footer; 
}
.min-height{
  min-height: $half-height;
}
.padding-left{
  padding-left: $padding-left;
}
.width-list{
  width: $width-list
}
.add-button{
  background-color: $color-gold !important; 
  border-color: $color-black !important;
  color: $color-black;
}
.footer-style{
  color: $text-white; 
  background-color: $bg-color-blue;
}
.minus-button{
  border-radius: $radius;
  border-color: $color-black;
  width: $padding-high;
  height: $padding-high;
}
.margin-left-right{
  margin-left: $border-radius;
  margin-right: $border-radius;
}
.bg-white{
  background-color: $text-white;
}
.rounded-corner{
  border-radius: $rounded-radius;
  width: $rounded-width;
  height: $rounded-height;
  text-align: $text-align-center;
  font-size: $font;
}
.padding{
  padding-top:$width-height;
}
.sort-options{
  color: $bg-color-blue;
  text-decoration: $text-underline;
}
.favourite-icon{
  color: $color-yellow;
  margin-left: $width-height;
}
.width-medium-range{
  width: $width-range;
}
